@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src:
    local("SEGA LOGO FONT"),
    url("SEGA.woff") format("woff");
}

h1 {
  font-family: "SEGA LOGO FONT";
  font-weight: 100;
  color: rgb(250, 233, 52);
}

.description-para {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  margin: 2px auto;
  color: rgb(255, 255, 255);
}

.search-box {
  width: 450px;
  padding: 18px 30px;
  border-radius: 8px;
  border: 1px solid white;
  outline: none;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(12px);
  color: rgb(255, 255, 255);
  font-size: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
  margin: 22px auto;
}

.search-box:focus {
  transform: scale(1.03);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.card-container {
  border-radius: 24px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.35s ease;
  overflow: hidden;
}

.card-container:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
}

.card-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.706),
    transparent
  );
  transform: translateX(-100%);
  transition: 0.7s ease;
}

.card-container:hover::before {
  transform: translateX(100%);
}

.title {
  background: linear-gradient(90deg, #fff, #f8d838, #5cf6cd);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientText 6s linear infinite;
}

.particles {
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-image:
    radial-gradient(
      circle at 20% 20%,
      rgba(255, 255, 255, 0.768) 2px,
      transparent 2px
    ),
    radial-gradient(
      circle at 80% 50%,
      rgba(255, 255, 255, 0.749) 2px,
      transparent 2px
    ),
    radial-gradient(
      circle at 60% 80%,
      rgba(255, 255, 255, 0.718) 2px,
      transparent 2px
    );
  background-size: 300px 300px;
  animation: particleMove 5s linear infinite;
}

@keyframes particleMove {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100px);
  }
}

@keyframes gradientText {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}
